{% extends 'base.html' %}

{% load static %}

{% block content %}
    <body>
    <h1 style="color:black; text-align:center;">Welcome to Invoice Analyser</h1>
    <h3 style="color:black; text-align:center;">This Web-application is created for learning purpose. <br
        >All the information collected in this web application will be stored safely and deleted after use.<br>Created By </h3>
    <div class="row" style="text-align:center;"><h4>Ashesh K C </h4></div>
    <div class="row" style="text-align:center;"><h4>Bijaya K C</h4></div>
    <div class="row" style="text-align:center;"><h4>Parshamsa Adhikari</h4></div>
    
    </body>
  {% endblock %}